priority -40

snippet doc "A JSDoc comment"
/**
 * ${1}
 */
endsnippet

snippet @p "@param  varname Description"
@param ${1:varname} ${2:Description}
endsnippet

snippet @ret "@return Description"
@return ${1:Description}
endsnippet
